a{
  color: inherit !important;
  text-decoration: none !important;
  margin-top: auto;
}

.navbar{
  justify-content: center;
  width: 100%;
}
.header-form{
  width:500px;
  margin-left: 100px;
  margin: auto;
}

.btn-nav{
  border-style: none;
  margin-left:1000px;
  margin-bottom: -30px;
}

.btn-icon{
  margin-left: 1200px;
}

.m-auto{
  justify-content: center;
}

.card1{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: left;
  background-color: #f1f1f1;
  margin-bottom: 20px;
  display: block;
  float: left;
  width: 350px;
  padding: 0 10px;
  margin-left: 70px;
  margin-right: 70px;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  text-align: left;
  margin-bottom: 10px;
}